{% extends 'index.html' %}
{% block login %}
    <div class="login" style="width: 200px; margin: 40px auto; text-align: center;">
      <form action="" method="POST">
        {% csrf_token %}
          <div class="form-group">
          <label for="name">Username:</label>
              <input type="text" class="form-control" id="name" name="username">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" name="password">
        </div>
        {% if login_error %}
          <div class="form-group">
              <label>{{ login_error }}</label>
          </div>
        {% endif %}
        <button type="submit" class="btn btn-dark">Sign in</button>
          <br><br>
        <a href={% url "registration" %}>Sign up</a>
      </form>
    </div>
{% endblock %}
