{% extends 'index.html' %}
{% block registration %}
    <div class="registration" style="width: 400px; margin: 40px auto; text-align: center;">
      <form action="" method="POST">
        {% csrf_token %}

          <div class="form-group">
          <label for="name">Username:</label>
              <input type="text" class="form-control" id="name" name="username">
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
          <label for="pass1">Password:</label>
          <input type="password" class="form-control" id="pass1" name="password1">
        </div>
        <div class="form-group">
          <label for="pass2">Repeat password:</label>
          <input type="password" class="form-control" id="pass2" name="password2">
        </div>
        {% if form.errors %}

          <div class="form-group">
              <label>{{ form.errors }}</label>
          </div>
        {% endif %}
        <button type="submit" class="btn btn-dark">Sign up</button>
          <br><br>
        <a href="{% url "login" %}">Sign in</a>
      </form>
    </div>
{% endblock %}

