<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photo gallery</title>
    <!-- {% load static %} -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="{% static '' %}"> -->
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">

      <ul class="navbar-nav active">
        <li class="nav-item">
          <a class="nav-link" href="#">Gallery</a>
        </li>
        {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="#">Load photo</a>
              </li>
        {% endif %}
        <li class="nav-item">
            {% if user.is_authenticated %}
              <a class="nav-link" href={% url "logout" %}>Logout</a>
            {% else %}
                <a class="nav-link" href={% url "login" %}>Sign in</a>
            {% endif %}
        </li>

      </ul>
  </nav>
</header>
{% block login %}{% endblock %}
{% block registration %}{% endblock %}
</body>

</html>